// Fonts cdn
@import url('https://fonts.googleapis.com/css2?family=Caveat&family=Montserrat:wght@400;700&display=swap');
// Reset css
@import 'reset.scss';

html {
	background-color: $light-bg;
	font-family: 'Montserrat', sans-serif;
	color: $dark;
}

h1,
h2 {
}
